[submodule "projects/js-small-apps"]
	path = projects/js-small-apps
	url = git@github.com:ArmandPhilippot/js-small-apps.git
[submodule "projects/react-small-apps"]
	path = projects/react-small-apps
	url = git@github.com:ArmandPhilippot/react-small-apps.git
