[submodule "public/projects/js-small-apps"]
path = public/projects/js-small-apps
url = git@github.com:ArmandPhilippot/js-small-apps.git
[submodule "public/projects/react-small-apps"]
path = public/projects/react-small-apps
url = git@github.com:ArmandPhilippot/react-small-apps.git
[submodule "public/projects/angular-small-apps"]
path = public/projects/angular-small-apps
url = git@github.com:ArmandPhilippot/angular-small-apps.git
[submodule "public/projects/vue-small-apps"]
	path = public/projects/vue-small-apps
	url = git@github.com:ArmandPhilippot/vue-small-apps.git
