@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;

.footer {
  background: fun.get-var(color-bg-secondary);
  padding: fun.get-var(spacing-sm) fun.get-var(spacing-md)
    calc(#{fun.get-var(toolbar-height)} + #{fun.get-var(spacing-sm)});

  @include mix.media("screen") {
    @include mix.dimensions("lg") {
      padding: fun.get-var(spacing-sm) fun.get-var(spacing-md);
    }
  }
}

.copyright {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-family: fun.get-var(font-family-secondary);
  font-size: fun.get-var(font-size-md);
  gap: fun.get-var(spacing-3xs);
  justify-content: center;
}
